* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --light-tc: #6B7280;
    --dark-tc: #111827;
    --t-c: #374151;
    --border-c: rgb(229,231,235);
    --hover-c: #f3f4f6;
    --green: #0b93a2;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: var(--t-c);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


/* Start Components */

.menu-visible {
    display: block !important;
}

header .head {
    padding: 8px 16px;
    background: #f9fafb;
    font-size: 18px;
    color: var(--dark-tc);
    font-weight: 400;
}


.icon {
    font-size: 20px;
    cursor: pointer;
    color: var(--light-tc);
    padding: 8px;
    border-radius: 6px;
    transition: .3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background: var(--hover-c);
    color: var(--dark-tc);
}

/* End Components */

/* Start Header */

header {
    border-bottom: 1px solid var(--border-c);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 12px 0;
}

header nav > div {
    display: flex;
    align-items: center;
}

header #asideMenu {
    font-size: 24px;
    display: block;
    margin-right: 24px;
}

header .title {
    font-weight: 900;
    font-size: 20px;
    height: fit-content;
    margin-right: 35px;
}

header .search-container {
    position: relative;
}

header .search {
    display: flex;
    align-items: center;
    height: fit-content;
    border: 1px solid var(--border-c);
    border-radius: 5px;
    padding: 10px 30px;
    width: 380px;
    outline: none;
    background: var(--hover-c);
}

header .search:focus {
    border: 2px solid var(--green);
}

header .search-container i {
    position: absolute;
    left: 9px;
    top: 50%;
    color: var(--light-tc);
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0;
}

header #notfications-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    width: 350px;
    border: 1px solid var(--border-c);
    border-radius: 8px;
}

#notfications-menu .head span {
    font-size: 16px;
    color: var(--light-tc);
    cursor: pointer;
}

.notice {
    display: flex;
    gap: 5px;
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-c);
    transition: .3s ease;
    cursor: pointer;
}

.notice:hover {
    background: var(--hover-c);
}

.notice img {
    width: 44px !important;
    margin: 0;
}

.notice .text {
    font-size: 14px;
    color: var(--light-tc);
}

.notice .text span,
.notice .text p {
    display: inline;
}

.notice .name {
    color: var(--dark-tc);
    font-weight: 500;
}

.notice .time {
    display: block !important;
    text-align: left;
    color: var(--green);
    font-weight: 500;
    margin-top: 10px;
}

header nav .choose {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    gap: 1px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 8px;
    transition: .3s ease;
    border-radius: 6px;
}

header nav .choose span {
    width: 9px;
    height: 9px;
    display: block;
    background: var(--light-tc);
    border-radius: 3px;
    transition: .3s ease;

}

header nav .choose:hover > span {
    background: var(--dark-tc);
}

header nav .choose:hover {
    background: var(--hover-c);
}

header #apps-menu {
    display: none;
    position: absolute;
    top: 60px;
    width: 350px;
    right: 20px;
    border: 1px solid var(--border-c);
    background: #fff;
    border-radius: 8px;
}


header .apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;
    padding: 16px;
}

header .app {
    padding: 10px;
    border-radius: 8px;
    transition: .3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .app span {
    color: var(--light-tc);
    font-size: 14px;
    font-weight: 500;
}

header .app i {
    font-size: 25px;
}

header .app i:hover {
    color: var(--light-tc) !important;
}

header .app:hover {
    background: var(--hover-c);
}

header .profile {
    margin-left: 10px;
}

header .profile ul {
    display: none;
    position: absolute;
    right: 15px;
    bottom: -190px;
    border-radius: 8px;
    border: 1px solid var(--border-c);
    padding: 0 0 4px;
    text-align: left;
    background: #fff;
    font-size: 14px;
    width: 160px;
}

header .profile ul .user-details {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-c);
    color: var(--t-c);

}

header .profile h5 {
    font-size: 16px;
}

header .user-details span {
    text-overflow: ellipsis;
    overflow: hidden;
}

header .profile ul li {
    padding: 8px 16px;
    cursor: pointer;
}

header .profile li:hover {
    background: var(--hover-c);
}

header nav img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
}

.click-photo {
    border: 3px solid #d1d5db;
}

/* End Header */
/* Start Asid */

aside {
    width: 250px;
    border-right: 1px solid var(--border-c);
    height: calc(100vh - 70px);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 10px !important;
}

aside > ul:first-of-type {
    border-bottom: 1px solid var(--border-c);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

aside ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 6px;
}

aside ul li:hover {
    background: var(--hover-c);
}

aside .notices-number {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50px;
    background: #fde8e8;
    color: #9b1c1c;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    position: absolute;
    right: 20px;
}

aside svg {
    width: 25px;
    transition: .3s ease;
    color: var(--light-tc);
}

aside ul li:hover > svg {
    color: var(--dark-tc);
}

aside .bottom ul {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 100%;
    background: #fff;
}

aside .bottom svg {
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

/* End Asid */