* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--hover-c);
}

:root {
    --light-tc: #6B7280;
    --dark-tc: #111827;
    --t-c: #374151;
    --border-c: rgb(229,231,235);
    --hover-c: #f3f4f6;
    --green: #0b93a2;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: var(--t-c);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.empty {
    width: 250px;
    height: 100%;
}


/* Start Components */

.menu-visible {
    display: block !important;
}

header .head {
    padding: 8px 16px;
    background: #f9fafb;
    font-size: 18px;
    color: var(--dark-tc);
    font-weight: 400;
}


.icon {
    font-size: 20px;
    cursor: pointer;
    color: var(--light-tc);
    padding: 8px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background: var(--hover-c);
    color: var(--dark-tc);
}

/* End Components */

/* Start Header */

header {
    border-bottom: 1px solid var(--border-c);
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 99999;
}

header nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 12px 0;
}

header nav > div {
    display: flex;
    align-items: center;
}

header #asideMenu {
    font-size: 24px;
    display: block;
    margin-right: 24px;
}

header .title {
    font-weight: 900;
    font-size: 20px;
    height: fit-content;
    margin-right: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .title img {
    width: 28px;
}

header .search-container {
    position: relative;
}

header .search {
    display: flex;
    align-items: center;
    height: fit-content;
    border: 1px solid var(--border-c);
    border-radius: 5px;
    padding: 10px 30px;
    width: 380px;
    outline: none;
    background: var(--hover-c);
}

header .search:focus {
    border: 2px solid var(--green);
}

header .search-container i {
    position: absolute;
    left: 9px;
    top: 50%;
    color: var(--light-tc);
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0;
}

header #notfications-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    width: 350px;
    border: 1px solid var(--border-c);
    border-radius: 8px;
}

#notfications-menu .head span {
    font-size: 16px;
    color: var(--light-tc);
    cursor: pointer;
}

.notice {
    display: flex;
    gap: 5px;
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-c);
    cursor: pointer;
}

.notice:hover {
    background: var(--hover-c);
}

.notice img {
    width: 44px !important;
    margin: 0;
}

.notice .text {
    font-size: 14px;
    color: var(--light-tc);
}

.notice .text span,
.notice .text p {
    display: inline;
}

.notice .name {
    color: var(--dark-tc);
    font-weight: 500;
}

.notice user {
    color: var(--green);
    font-weight: 500;
}

.notice .time {
    display: block !important;
    text-align: left;
    color: var(--green);
    font-weight: 500;
    margin-top: 10px;
}

header #apps-menu {
    display: none;
    position: absolute;
    top: 60px;
    width: 350px;
    right: 20px;
    border: 1px solid var(--border-c);
    background: #fff;
    border-radius: 8px;
}


header .apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;
    padding: 16px;
}

header .app {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

header .app span {
    color: var(--light-tc);
    font-size: 14px;
    font-weight: 500;
}

header .app svg {
    width: 25px;
    color: var(--light-tc);
}

header .app:hover {
    background: var(--hover-c);
}

header .profile {
    margin-left: 10px;
}

header .profile ul {
    display: none;
    position: absolute;
    right: 15px;
    bottom: -190px;
    border-radius: 8px;
    border: 1px solid var(--border-c);
    padding: 0 0 4px;
    text-align: left;
    background: #fff;
    font-size: 14px;
    width: 160px;
}

header .profile ul .user-details {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-c);
    color: var(--t-c);

}

header .profile h5 {
    font-size: 16px;
}

header .user-details span {
    text-overflow: ellipsis;
    overflow: hidden;
}

header .profile ul li {
    padding: 8px 16px;
    cursor: pointer;
}

header .profile li:hover {
    background: var(--hover-c);
}

header nav img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
}

.click-photo {
    border: 3px solid #d1d5db;
}

/* End Header */

.page {
    display: flex;
}

/* Start Asid */

aside {
    width: 250px;
    border-right: 1px solid var(--border-c);
    height: calc(100vh - 70px);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px 10px !important;
    background: #fff;
}

aside .main-height {
    max-height: 472px;
    position: relative;
    overflow: auto;
}

aside .main-height > ul:first-of-type {
    border-bottom: 1px solid var(--border-c);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

aside ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 6px;
}

aside ul li:hover {
    background: var(--hover-c);
}

aside .notices-number {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50px;
    background: #fde8e8;
    color: #9b1c1c;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    position: absolute;
    right: 20px;
}

aside svg {
    width: 25px;
    color: var(--light-tc);
}

aside ul li:hover > svg {
    color: var(--dark-tc);
}

aside .bottom ul {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 100%;
    background: #fff;
}

aside .bottom li {
    cursor: pointer;
    position: relative;
}

aside .bottom li:nth-child(2):before {
    content: 'Settings Page';
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    background: var(--dark-tc);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 82px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s ease;
    opacity: 0;
}

aside .bottom li:nth-child(2):after {
    content: '';
    position: absolute;
    border-width: 6px;
    border-color: var(--dark-tc) transparent transparent;
    border-style: solid;
    top: -5px;
    left: 12px;
    transition: .2s ease;
    opacity: 0;
}

aside .bottom li:nth-child(2):hover::before,
aside .bottom li:nth-child(2):hover::after {
    opacity: 1;
}

aside .bottom svg {
    width: 20px;
    border-radius: 50%;
}

/* Minmize Aside */
.min {
    width: fit-content;
}

.min .bottom,
.min ul li span,
.min .notices-number {
    display: none;
}

/* End Asid */
/* Start Content */

.content {
    padding: 16px;
}

.content .wedget {
    padding: 24px;
    background: #fff;
    border-radius: 8px;
}

.content .wedget .w-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .wedget .w-head h2 {
    font-size: 30px;
    color: var(--dark-tc);
    margin-bottom: 10px;
}

.content .wedget .w-head div:first-of-type span {
    font-size: 15px;
    color: var(--light-tc);
}

.content .wedget .w-head div:last-of-type {
    display: flex;
    color: var(--green);
    font-weight: 700;
}

.content .wedget .w-head div:last-of-type svg {
    width: 20px;
}


/* End Content */